$dark-yellow: #DBB501;
$yellow: #e8c872;
$light-yellow: #FFF3CF;
$neutral: #F6E7D8;
$neutral-second: #c7ced1;
$light-blue: #d4e0f5;
$blue: #7d98c4;
$dark-blue: #565877;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: $neutral-second;
}

.intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
    -webkit-text-fill-color: #ffffff00;
    -webkit-text-stroke: 4px navy;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}