$dark-yellow: #DBB501;
$yellow: #e8c872;
$light-yellow: #FFF3CF;
$neutral: #F6E7D8;
$neutral-second: #c7ced1;
$light-blue: #d4e0f5;
$blue: #7d98c4;
$dark-blue: #565877;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

%heading-font {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

body {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    background-color: $neutral-second;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    margin: 0 10vw;
}

h3 {
    @extend %heading-font;
    -webkit-text-stroke: 1px black;
    color: $dark-yellow;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 0.5rem;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.sticky {
    position: sticky;
    top: 3vh;
    width: auto;
    height: fit-content;
    min-height: 5rem;
    z-index: 100;
}

.navbar {
    display: flex;
    position: absolute;
    right: 0;
    justify-content: space-between;
    gap: 1rem;

    .rollback {
        display: none;
    }

    .rollout {
        display: none;

        .filler {
            border: 6px solid black;
            background-color: rgba(255, 255, 255, 0);
            overflow: visible;
            padding: 1.3rem 0.5rem 0.5rem 1.3rem;

            &::before {
                content: "";
                display: block;
                background-color: #DBB501;
                width: calc(100% + 0.5rem);
                height: calc(100% + 0.5rem);
                position: absolute;
                top: 0.4rem;
                left: 0.4rem;
                z-index: -3;
                transition: all 0.4s ease-out;
            }
        }
    }
}

.nav {

    &-item {
        font-size: 1.5rem;

        &:hover {
            cursor: pointer;

            &.border::before {
                top: 0;
                left: 0;
                transition: all 0.4s ease-out;
            }
        }
    }
}


.border {
    border: 6px solid black;
    background-color: #ffffff00;
    overflow: visible;
    padding: 1.3rem 0.5rem 0.5rem 1.3rem;


    &::before {
        content: "";
        display: block;
        background-color: #DBB501;
        width: calc(100% + 0.5rem);
        height: calc(100% + 0.5rem);
        position: absolute;
        top: 0.4rem;
        left: 0.4rem;
        z-index: -3;
        transition: all 0.4s ease-out;
    }
}

.intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title {
    @extend %heading-font;
    font-size: 5rem;
    color: $dark-yellow;

    &-outline {
        -webkit-text-fill-color: #ffffff00;
        -webkit-text-stroke: 4px black;
        position: absolute;
        margin-top: -0.30rem;
        margin-left: -0.30rem;
    }
}

.heading {
    @extend %heading-font;
    font-size: 3rem;
    color: $blue;
    margin-bottom: 3rem;
    margin-left: 3rem;

    &::before {
        content: attr(text) " ";
        -webkit-text-fill-color: #ffffff00;
        -webkit-text-stroke: 3px black;
        position: absolute;
        margin-top: -0.20rem;
        margin-left: -0.20rem;
    }
}

.display {
    &-flex {
        display: flex;
    }
}

.about {
    padding: 5vh 5vw;

    &-text {

        float: none;
        padding: 2vh 2vw;
        border: 6px solid black;
        background-color: rgb(250, 241, 233);
        box-shadow: 0.4rem 0.4rem $blue;
        z-index: -10;

        ::after {
            clear: both;
        }
    }

    &-photo {
        float: left;
        display: block;
        aspect-ratio: 1/1;
        border: 6px solid black;
        background-color: #ffffff00;
        overflow: visible;
        padding: 1.3rem 0.5rem 0.5rem 1.3rem;
        margin-right: 7vw;
        margin-bottom: 2vh;
        margin-top: 2vh;
        margin-left: 3vw;

        &::after {
            content: "";
            display: block;
            background-color: $blue;
            width: calc(100% + 0.5rem);
            height: calc(100% + 0.5rem);
            position: absolute;
            top: 0.4rem;
            left: 0.4rem;
            z-index: -3;
            clear: both;
        }

        img {
            width: 100%;
            aspect-ratio: 1;
            object-fit: cover;
            object-position: 0 20%;
        }
    }
}

.clear::after {
    content: "";
    display: table;
    clear: both;

}

#background-elemtns {
    z-index: -100;
    width: 100%;
    height: 100%;
    position: relative;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@mixin fadeUpAnimation($duration: 1s, $delay: 0s) {
    animation: fadeUp $duration ease-in-out $delay forwards;
}

.window {
    position: absolute;
    opacity: 0;

    &-show {
        transform: translateY(20px);
        @include fadeUpAnimation(0.9s, 0s);

        &#bgw3 {
            @include fadeUpAnimation(0.7s, 0s);
        }

        & #bgw1,
        & #bgw5,
        & #bgw7 {
            @include fadeUpAnimation(0.5s, 0s);
        }
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .about {
        padding: 3vh 0;
    }

    .heading {
        margin-bottom: 1rem;
        margin-left: 0;
        font-size: 2rem;
    }

    .about-photo {
        display: block;
        width: 10rem;
        border: 6px solid black;
        background-color: rgba(255, 255, 255, 0);
        overflow: visible;
        height: 10rem;
        padding: 0;
    }

    .pos {


        &-1 {
            top: 5vh;
            right: 5vw;

            img {
                width: 15rem;
                height: auto;
            }
        }

        &-2 {
            display: none;
            top: 0%;
            left: 0vw;
            z-index: -10;

            img {
                width: 20vw;
                height: auto;
            }
        }

        &-3 {
            top: 60vh;
            right: 6vw;

            img {
                width: 13rem;
                height: auto;
            }
        }

        &-4 {

            top: 146vh;
            left: 4vw;
            z-index: -3;

            img {
                width: 13rem;
                height: auto;
            }
        }

        &-5 {
            top: 26vh;
            left: 8vw;
            z-index: -3;

            img {
                width: 60vw;
                height: auto;
            }
        }

        &-6 {
            top: 160vw;
            left: 6vw;
            z-index: -10;

            img {
                width: 40vw;
                height: auto;
            }
        }

        &-7 {

            top: 180vh;
            right: 2vw;
            z-index: -20;

            img {
                width: 15rem;
                height: auto;
            }
        }

        &-8 {
            display: none;
            top: 130vh;
            left: 70vw;

            img {
                width: 20vw;
                height: auto;
            }
        }
    }

    .navbar {
        &-hide {
            gap: 0.5rem;
            right: -5vw;
            justify-content: end;
            width: 15vw;
            height: 10vh;

            .rollback {
                display: none;
            }

            .rollout {
                display: flex;
                justify-content: end;
                width: 15vw;
                height: 10vh;
                gap: 0.5rem;

                .filler {
                    padding: 0;
                    height: 5vh;

                    &::before {
                        width: 3vw;
                        height: 5vh;
                        top: 0;
                        left: 0;
                    }
                }
            }

            .nav-item {

                display: none;
            }

            span {
                display: none;
            }
        }

        &-show {
            background-color: $light-yellow;
            padding: 0.3rem;
            margin-right: -10vw;
            z-index: -1;

            .nav-item {
                padding: 0;

            }

            .border::before {
                top: 0;
                left: 0;
                z-index: -1;
            }

            & .rollback {
                z-index: 2;
                display: block;
                background-color: #DBB501;
                border-right: 3vw solid black;
                width: 6vw;
                height: auto;
            }
        }
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width:991px) {
    .clear {
        display: flex;
        align-items: flex-start;
    }

    .about {
        padding: 3vh 0;

        &-photo {
            max-width: 40%;
        }
    }

    .heading {
        margin-bottom: 1rem;
        margin-left: 0;
        font-size: 2rem;
    }

    .pos {


        &-1 {
            top: 50vh;
            right: 5vw;

            img {
                width: 15rem;
                height: auto;
            }
        }

        &-2 {
            top: 3vh;
            right: 7vw;
            z-index: -10;

            img {
                width: 12rem;
                height: auto;
            }
        }

        &-3 {
            top: 60vh;
            left: 6vw;

            img {
                width: 13rem;
                height: auto;
            }
        }

        &-4 {
            display: none;
            top: 146vh;
            left: 4vw;
            z-index: -3;

            img {
                width: 13rem;
                height: auto;
            }
        }

        &-5 {
            top: 30vh;
            left: 40vw;
            z-index: -3;

            img {
                width: 40vw;
                height: auto;
            }
        }

        &-6 {
            top: 10vw;
            left: 6vw;
            z-index: -10;

            img {
                width: 40vw;
                height: auto;
            }
        }

        &-7 {

            top: 180vh;
            right: 2vw;
            z-index: -20;

            img {
                width: 15rem;
                height: auto;
            }
        }

        &-8 {
            top: 130vh;
            right: 4vw;

            img {
                width: 12rem;
                height: auto;
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .about {
        &-photo {
            margin-right: 3vw;
            margin-bottom: 2vh;
            margin-top: 2vh;
            margin-left: 3vw;
            max-width: 40%;
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .clear {
        display: flex;
        align-items: flex-start;
    }

    .pos {
        &-1 {

            top: calc(20vh);
            left: 5vw;

            img {
                width: 30vw;
                height: auto;
            }
        }

        &-2 {
            top: 3vh;
            left: 25vw;
            z-index: -10;

            img {
                width: 20vw;
                height: auto;
            }
        }

        &-3 {
            top: calc(30vh - 5vw);
            right: calc(20vw - 1rem);

            img {
                width: 20vw;
                height: auto;
            }
        }

        &-4 {
            top: 80vh;
            left: 40vw;
            z-index: -3;

            img {
                width: 20vw;
                height: auto;
            }
        }

        &-5 {
            top: 110vh;
            left: 10vw;

            img {
                width: 20vw;
                height: auto;
            }
        }

        &-6 {
            top: 5vw;
            left: 70vw;
            z-index: -10;

            img {
                width: 20vw;
                height: auto;
            }
        }

        &-7 {
            top: 50vh;
            right: 7vw;
            z-index: -20;

            img {
                width: 20vw;
                height: auto;
            }
        }

        &-8 {
            top: 130vh;
            left: 70vw;

            img {
                width: 20vw;
                height: auto;
            }
        }
    }

}