* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

.heading, .title {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

body {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: #c7ced1;
}

main {
  margin: 0 10vw;
}

.sticky {
  position: sticky;
  top: 3vh;
  width: auto;
  height: fit-content;
  min-height: 5rem;
}

.navbar {
  display: flex;
  position: absolute;
  right: 0;
  justify-content: space-between;
  gap: 1rem;
}

.nav-item {
  font-size: 1.5rem;
}

.border {
  border: 6px solid black;
  background-color: rgba(255, 255, 255, 0);
  overflow: visible;
  padding: 1.3rem 0.5rem 0.5rem 1.3rem;
}
.border::before {
  content: "";
  display: block;
  background-color: #DBB501;
  width: calc(100% + 0.5rem);
  height: calc(100% + 0.5rem);
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  z-index: -3;
}

.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  font-size: 5rem;
  color: #DBB501;
}
.title-outline {
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 4px black;
  position: absolute;
  margin-top: -0.3rem;
  margin-left: -0.3rem;
}

.heading {
  font-size: 3rem;
  color: #7d98c4;
  margin-bottom: 3rem;
  margin-left: 3rem;
}
.heading::before {
  content: attr(text) " ";
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 3px black;
  position: absolute;
  margin-top: -0.2rem;
  margin-left: -0.2rem;
}

.about {
  padding: 5vh 5vw;
}
.about-photo {
  display: block;
  width: 40%;
  aspect-ratio: 1/1;
  border: 6px solid black;
  background-color: rgba(255, 255, 255, 0);
  overflow: visible;
  padding: 1.3rem 0.5rem 0.5rem 1.3rem;
}
.about-photo::before {
  content: "";
  display: block;
  background-color: #7d98c4;
  width: calc(100% + 0.5rem);
  height: calc(100% + 0.5rem);
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  z-index: -3;
}
.about-photo img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: 0 20%;
}

#background-elemtns {
  z-index: -100;
  width: 100%;
  height: 100%;
  position: relative;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.window {
  position: absolute;
  opacity: 0;
}
.window-show {
  transform: translateY(20px);
  animation: fadeUp 0.9s ease-in-out 0s forwards;
}
.window-show#bgw3 {
  animation: fadeUp 0.7s ease-in-out 0s forwards;
}
.window-show #bgw1, .window-show #bgw5, .window-show #bgw7 {
  animation: fadeUp 0.5s ease-in-out 0s forwards;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .about {
    padding: 3vh 0;
  }
  .heading {
    margin-bottom: 1rem;
    margin-left: 0;
    font-size: 2rem;
  }
  .about-photo {
    display: block;
    width: 10rem;
    border: 6px solid black;
    background-color: rgba(255, 255, 255, 0);
    overflow: visible;
    height: 10rem;
    padding: 0;
  }
  .pos-1 {
    top: 5vh;
    right: 5vw;
  }
  .pos-1 img {
    width: 15rem;
    height: auto;
  }
  .pos-2 {
    display: none;
    top: 0%;
    left: 0vw;
    z-index: -10;
  }
  .pos-2 img {
    width: 20vw;
    height: auto;
  }
  .pos-3 {
    top: 60vh;
    right: 6vw;
  }
  .pos-3 img {
    width: 13rem;
    height: auto;
  }
  .pos-4 {
    top: 146vh;
    left: 4vw;
    z-index: -3;
  }
  .pos-4 img {
    width: 13rem;
    height: auto;
  }
  .pos-5 {
    top: 26vh;
    left: 8vw;
    z-index: -3;
  }
  .pos-5 img {
    width: 60vw;
    height: auto;
  }
  .pos-6 {
    top: 160vw;
    left: 6vw;
    z-index: -10;
  }
  .pos-6 img {
    width: 20rem;
    height: auto;
  }
  .pos-7 {
    top: 180vh;
    right: 2vw;
    z-index: -20;
  }
  .pos-7 img {
    width: 15rem;
    height: auto;
  }
  .pos-8 {
    display: none;
    top: 130vh;
    left: 70vw;
  }
  .pos-8 img {
    width: 20vw;
    height: auto;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 991px) {
  .about {
    padding: 3vh 0;
  }
  .heading {
    margin-bottom: 1rem;
    margin-left: 0;
    font-size: 2rem;
  }
  .pos-1 {
    top: 50vh;
    right: 5vw;
  }
  .pos-1 img {
    width: 15rem;
    height: auto;
  }
  .pos-2 {
    top: 3vh;
    right: 7vw;
    z-index: -10;
  }
  .pos-2 img {
    width: 12rem;
    height: auto;
  }
  .pos-3 {
    top: 60vh;
    left: 6vw;
  }
  .pos-3 img {
    width: 13rem;
    height: auto;
  }
  .pos-4 {
    display: none;
    top: 146vh;
    left: 4vw;
    z-index: -3;
  }
  .pos-4 img {
    width: 13rem;
    height: auto;
  }
  .pos-5 {
    top: 30vh;
    left: 40vw;
    z-index: -3;
  }
  .pos-5 img {
    width: 40vw;
    height: auto;
  }
  .pos-6 {
    top: 10vw;
    left: 6vw;
    z-index: -10;
  }
  .pos-6 img {
    width: 20rem;
    height: auto;
  }
  .pos-7 {
    top: 180vh;
    right: 2vw;
    z-index: -20;
  }
  .pos-7 img {
    width: 15rem;
    height: auto;
  }
  .pos-8 {
    top: 130vh;
    right: 4vw;
  }
  .pos-8 img {
    width: 12rem;
    height: auto;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .pos-1 {
    top: 20vh;
    left: 5vw;
  }
  .pos-1 img {
    width: 30vw;
    height: auto;
  }
  .pos-2 {
    top: 3vh;
    left: 25vw;
    z-index: -10;
  }
  .pos-2 img {
    width: 20vw;
    height: auto;
  }
  .pos-3 {
    top: calc(30vh - 5vw);
    right: calc(20vw - 1rem);
  }
  .pos-3 img {
    width: 20vw;
    height: auto;
  }
  .pos-4 {
    top: 80vh;
    left: 40vw;
    z-index: -3;
  }
  .pos-4 img {
    width: 20vw;
    height: auto;
  }
  .pos-5 {
    top: 110vh;
    left: 10vw;
  }
  .pos-5 img {
    width: 20vw;
    height: auto;
  }
  .pos-6 {
    top: 5vw;
    left: 70vw;
    z-index: -10;
  }
  .pos-6 img {
    width: 20vw;
    height: auto;
  }
  .pos-7 {
    top: 50vh;
    right: 7vw;
    z-index: -20;
  }
  .pos-7 img {
    width: 20vw;
    height: auto;
  }
  .pos-8 {
    top: 130vh;
    left: 70vw;
  }
  .pos-8 img {
    width: 20vw;
    height: auto;
  }
}

/*# sourceMappingURL=main.css.map */
