.yellow .window-toolbar, .yellow {
  border-left: 2px solid #FFF3CF;
  border-top: 2px solid #FFF3CF;
  border-right: 2px solid #DBB501;
  border-bottom: 2px solid #DBB501;
}

.yellow .window-content {
  border-right: 2px solid #FFF3CF;
  border-bottom: 2px solid #FFF3CF;
  border-left: 2px solid #DBB501;
  border-top: 2px solid #DBB501;
}

.blue .window-toolbar, .blue {
  border-left: 2px solid #d4e0f5;
  border-top: 2px solid #d4e0f5;
  border-right: 2px solid #565877;
  border-bottom: 2px solid #565877;
}

.blue .window-content {
  border-right: 2px solid #d4e0f5;
  border-bottom: 2px solid #d4e0f5;
  border-left: 2px solid #565877;
  border-top: 2px solid #565877;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: #c7ced1;
}

.yellow {
  background: #e8c872;
}
.yellow .window-toolbar {
  background: #7d98c4;
  background-color: #7d98c4;
  color: #FFF3CF;
}
.yellow .window-button {
  background: #FFF3CF;
}
.yellow .window-item:focus, .yellow .window-item:active {
  background: #7d98c4;
  color: #FFF3CF;
}
.blue {
  background: #7d98c4;
}
.blue .window-toolbar {
  background: #e8c872;
  background-color: #e8c872;
  color: #565877;
}
.blue .window-button {
  background: #565877;
}
.blue .window-item:focus, .blue .window-item:active {
  background: #e8c872;
  color: #565877;
}
.window {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.window-toolbar {
  width: 100%;
  padding: 0.2rem 0.2rem 0.2rem 0.7rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  justify-items: center;
}
.window-title {
  align-self: center;
}
.window-menu {
  width: 100%;
  padding: 0.2rem;
}
.window-buttons {
  display: flex;
}
.window-button {
  width: 2rem;
  height: 2rem;
  appearance: none;
  line-height: 1;
  display: inline-block;
  margin: 0;
  user-select: none;
  font-size: 1.5rem;
}
.window-button:last-child {
  margin-left: 0.35rem;
}
.window-button:focus {
  outline: 1px dashed black;
  outline-offset: -3px;
}
.window-button:active {
  outline: none;
}
.window-button-minimize {
  padding-bottom: 0.5rem;
}
.window-item {
  color: black;
  display: inline-block;
  text-decoration: none;
}
.window-item:first-letter {
  text-decoration: underline;
}
.window-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  background: white;
}
.window-content:before {
  content: "";
  display: block;
  background: #F6E7D8;
  height: 2rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.window-image {
  width: 100%;
  margin-right: 2rem;
  margin-bottom: 2rem;
  display: flex;
}
.window-image:focus, .window-image:active {
  outline: none;
}
.window-scroll {
  width: 2rem;
  height: 2rem;
  appearance: none;
  background: #F6E7D8;
  line-height: 0;
  font-size: 1.5rem;
  display: inline-block;
}
.window-scrollbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  background-color: #faf1e9;
}
.window-scrollbar--y {
  right: 0;
  height: calc(100% - 2.1rem);
  flex-direction: column;
}
.window-scrollbar--x {
  bottom: 0;
  width: calc(100% - 2.1rem);
}

/*# sourceMappingURL=style.css.map */
